@using Grpc.Core;
@using Grpc.Net.Client;
@using Grpc.Net.Client.Web;
@using LibSeedy;
@using Microsoft.Win32.SafeHandles
@inherits LayoutComponentBase

<div class="page">
    
<MudThemeProvider />

<MudLayout>
    <MudAppBar Elevation="0" Color="Color.Tertiary">
            <MudIcon Icon="@Icons.Material.Filled.Grass"></MudIcon>
            <MudText Typo="Typo.h5" Class="ml-3">Seedly</MudText>
        <MudSpacer />
    </MudAppBar>
    <MudMainContent>
        <MudGrid Spacing="3" Justify="Justify.FlexStart">
            <MudItem xs="12">
                <MudTextField  @bind-Value="Search" Label="Enter magnet link" Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Download" AdornmentColor="Color.Secondary" 
                               OnAdornmentClick="Callback"/>
            </MudItem>
            <MudItem xs="12">
                <h3>Completed Items</h3>
                <MudList>
                    @foreach (var item in CompletedItems.TakeLast(5).Reverse())
                    {
                        if (item.status == Status.Success)
                        {
                            <MudListItem Avatar="@Icons.Material.Filled.Check">
                                @item.magnet_url
                            </MudListItem>
                        }
                        else if (item.status == Status.Fail)
                        {
                            <MudListItem Avatar="@Icons.Material.Filled.Cancel">
                                @item.magnet_url
                            </MudListItem>
                        }
                    }
                </MudList>
            </MudItem>
            <MudItem xs="12">
                <h3>
                    Current Items:
                </h3>
                <MudStack>
                    @foreach (var item in items)
                    {
                        <MudItem>
                            <MudStack Row="true">
                                <MudItem Style="overflow: hidden">@item.magnet_url</MudItem>
                                <MudProgressLinear Color="Color.Success" Striped="true" Size="Size.Large" Value="@item.progress_value" Min="0" Max="100">
                                    <MudText Typo="Typo.subtitle1" Color="Color.Dark">
                                        <b>@item.progress_value.ToString()%</b>
                                    </MudText>
                                </MudProgressLinear>
                            </MudStack>
                        </MudItem>
                    }
                </MudStack>
            </MudItem>
        </MudGrid>
    </MudMainContent>
</MudLayout>

    @code {
        public string Search { get; set;}
        public List<DownloadItem> items = new List<DownloadItem>();
        public List<DownloadItem> CompletedItems = new List<DownloadItem>();
        public GrpcChannel channel = GrpcChannel.ForAddress("http://localhost:50051");
        public CancellationTokenSource cts = new CancellationTokenSource((int)TimeSpan.FromDays(1).TotalMilliseconds);
        public enum Status
        {
            Downloading,
            Success,
            Fail
        }
        public class DownloadItem
        {
            public string magnet_url { get; set; }
            public int progress_value { get; set; }
            public bool _disposed;
            public void Dispose() => _disposed = true;
            public Status status { get; set; }

            public DownloadItem(string url, Status stat)
            {
                magnet_url = url;
                progress_value = 0;
                status = stat;
            }
        }
        private async Task Callback(MouseEventArgs obj)
        {
            items.Add(new DownloadItem(Search, Status.Downloading));
            Search = string.Empty;
            StateHasChanged();
            await SimulateProgress(cts.Token);
        }

        public async Task SimulateProgress(CancellationToken cancellationToken)
        {
            await channel.ConnectAsync();
            var client = new Seedly.Seedly.SeedlyClient(channel);

            var item = items.Last();
            item.progress_value = 0;
            item.status = Status.Downloading;

            Uri uri = new Uri(item.magnet_url);
            string fileName = System.IO.Path.GetFileName(uri.LocalPath);

            // Prepare the request
            var request = new Seedly.DownloadRequest
            { 
                Url = item.magnet_url,
                Outfile = fileName
            };

            // Create a call to the server streaming method
            using (var call = client.GetUpdateStream(request, cancellationToken: cancellationToken))
            {
                try
                {
                    await foreach (var response in call.ResponseStream.ReadAllAsync(cancellationToken))
                    {
                        //Console.WriteLine("Received number: " + response.ProgressInt);
                        item.progress_value = response.ProgressInt;
                        if (!string.IsNullOrEmpty(response.FileName))
                        {
                            item.magnet_url = response.FileName;
                        }
                        StateHasChanged();
                        await Task.Delay(1);
                    }
                    item.status = Status.Success;
                }
                catch (RpcException ex) when (ex.Status.StatusCode == StatusCode.Cancelled)
                {
                    Console.WriteLine("The server stream was canceled.");
                    item.status = Status.Fail;
                }

                CompletedItems.Add(item);
                items.Remove(item);
                StateHasChanged();
                await Task.Delay(1);
                
            }
    }

}
</div>